div.tabs-container {
    --tab-dark-background:        #222;
    --tab-light-background:       #444;
    --tab-active-highlight-color: #666;
    --tab-foreground:             white;

    background:                   var(--tab-dark-background);
    width:                        100%;
    height:                       100%;
    display:                      flex;
    flex-direction:               column;
}

div.tabs-container > div.tabs-body:not(:empty) {
    flex-grow:        1;
    width:            100%;
    background-color: var(--tab-light-background);
    overflow:         scroll;
    border-top:       2px solid var(--tab-light-background);
}

div.tabs-container > div.tabs-header {
    width:      100%;
    display:    flex;
    overflow-x: scroll;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
}

div.tabs-container > div.tabs-header > div {
    outline:         none;
    color:           white;
    margin-top:      2px;
    padding-bottom:  2px;
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;
    user-select:     none;
    position:        relative;

    border-radius:   1ex 2ex 0 0;
}

div.tabs-container > div.tabs-header > div.tab-head {
    margin-right: 2px;
    padding:      0.5ex 1ex;
}

div.tabs-container > div.tabs-header > div.new-tab-button {
    margin-left:  0.5ex;
    margin-right: 1ex;
}

div.tabs-container > div.tabs-header > div.tab-head[data-active] {
    background: var(--tab-light-background);
}

div.tabs-container > div.tabs-header > div > button {
    border:        0;
    outline:       none;
    width:         2ex;
    height:        2ex;
    border-radius: 50%;
}

div.tabs-container > div.tabs-header > div > button::after {
    content:       "";
    border-radius: 50%;
    display:       block;
    width:         100%;
    height:        100%;
    background:    var(--tab-light-background);
}

div.tabs-container > div.tabs-header > div.tab-head > button:not([aria-disabled])::after {
    mask: url("../_assets/icon/x-icon.svg") no-repeat center center / cover;
}

div.tabs-container > div.tabs-header > div.new-tab-button > button::after {
    mask: url("../_assets/icon/add-icon.svg") no-repeat center center / cover;
}

div.tabs-container > div.tabs-header > div.tab-head > button {
    margin-left: 5px;
}


div.tabs-container > div.tabs-header > div.tab-head[data-active] > button::after {
    background-color: var(--tab-dark-background);
}

div.tabs-container > div.tabs-header > div > button:hover {
    background-color: var(--tab-light-background);
}

div.tabs-container > div.tabs-header > div > button:not([aria-disabled]):hover::after {
    background-color: var(--tab-dark-background);
}

div.tabs-container > div.tabs-header > div.tab-head[data-active] > button:hover {
    background-color: var(--tab-active-highlight-color);
}

div.tabs-container > div.tabs-header > div.new-tab-button > button:after {
    background-color: var(--tab-foreground) !important;
}
