div#code-container {
    overflow:       scroll;
    flex:           1;
    display:        flex;
    flex-direction: column;

    background:     var(--color-dark);
    color:          var(--color-light);
    padding:        1ex;
}

div#code-header {
    width:       100%;
    white-space: nowrap;
    flex-grow:   0;
}

div#code-body {
    min-width:   100%;
    white-space: nowrap;
    flex-grow:   1;
}

button#recompile-button {
    flex-shrink: 0;
    background-color: var(--color-purple);
    font-weight: bolder;
    margin: 1ex -1ex -1ex -1ex;
    padding: 1ex;
    text-shadow: 0 0 2px var(--color-dark);
}

button#recompile-button:hover {
    background-color: var(--color-blue);
}