div#code-container {
    overflow:       scroll;
    flex:           1;
    display:        flex;
    flex-direction: column;

    background:     var(--color-dark);
    color:          var(--color-light);
    padding:        1ex;
}

div#code-header {
    width:       100%;
    white-space: nowrap;
    flex-grow:   0;
}

div#code-body {
    min-width:   100%;
    white-space: nowrap;
    flex-grow:   1;
}

div#bottom-buttons {
    flex-shrink: 0;
    margin: 1ex -1ex -1ex -1ex;
    display: flex;
    position: sticky;
    left: -1ex;
}

div#bottom-buttons > button {
    flex-grow: 1;
    font-weight: bolder;
    padding: 1ex;
    text-shadow: 0 0 2px var(--color-dark);
    background-color: var(--color-purple);
}

div#bottom-buttons > button:hover {
    background-color: var(--color-blue);
}

div#bottom-buttons > .button-divider {
    flex-grow: 0;
    flex-shrink: 0;
    width: 2px;
}