div.code {
    background: var(--color-dark);
}

div.glsl-highlighted-code > pre > span:is(.keyword, .operator, .preprocessor) {
    color: var(--color-red);
}

div.glsl-highlighted-code > pre > span:is(.reserved, .error-char) {
    color:                 var(--color-light);
    text-decoration:       underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--color-red);
}

div.glsl-highlighted-code > pre > span.builtin-type {
    color: var(--color-blue);
}

div.glsl-highlighted-code > pre > span.builtin-func {
    color: var(--color-green);
}

div.glsl-highlighted-code > pre > span.builtin-var {
    color: var(--color-orange);
}

div.glsl-highlighted-code > pre > span.identifier {
    color: var(--color-light);
}

div.glsl-highlighted-code > pre > span.literal {
    color: var(--color-purple);
}

div.glsl-highlighted-code > pre > span:is(.punctuation, .comment) {
    color: var(--color-medium);
}


div.glsl-highlighted-code span.error-line::before {
    content:        "-";
    color:          transparent;
    user-select:    none;
    pointer-events: none;
}

div.glsl-highlighted-code .glsl-errors {
    display:        flex;
    flex-direction: column;
    position:       absolute;
    top:            0;
    width:          100%;
}

div.glsl-highlighted-code {
    position: relative;
}

div.glsl-highlighted-code div.errors {
    position:         absolute;
    width:            100%;
    background-color: var(--color-red);
    white-space: wrap;
}

div.glsl-highlighted-code span.error-line:not(.no-errors)::after {
    content: "";
    width:         100%;
    margin-top: -5px;
    height: 5px;
    display:       block;
    border-bottom: 1px dashed var(--color-red);
    position: absolute;
    z-index:       1;
}

div.glsl-highlighted-code .error-line:not(:hover) > div.errors:not(:hover) {
    display: none;
}
