div:where(.glsl, .js) {
    background: var(--color-dark);
    width: fit-content;
    min-width: 100%;
}

div:where(.glsl, .js) div.code-highlighter-container {
    --highlighter-error-fg-color: var(--color-light);
    --highlighter-error-color:    var(--color-red);
}

div:where(.glsl, .js) pre > span:where(.keyword, .operator, .preprocessor) {
    color: var(--color-red);
}

div:where(.glsl, .js) pre > span.builtin-type {
    color: var(--color-blue);
}

div:where(.glsl, .js) pre > span.builtin-func {
    color: var(--color-green);
}

div:where(.glsl, .js) pre > span.builtin-var {
    color: var(--color-orange);
}

div:where(.glsl, .js) pre > span:where(.reserved, .error-char, .identifier) {
    color: var(--color-light);
}

div:where(.glsl, .js) pre > span.literal {
    color: var(--color-purple);
}

div:where(.glsl, .js) pre > span.string-literal {
    color: var(--color-yellow);
}

div:where(.glsl, .js) pre > span:where(.punctuation, .comment) {
    color: var(--color-medium);
}