.uniforms-editor-tab-top {
    width:         100%;
    display:       flex;
    margin-bottom: 2px;
    padding:       4px 6px;
    user-select:   none;
    white-space:   nowrap;
}

.uniforms-editor-tab-content {
    display:        flex;
    flex-direction: column;
    height:         100%;
}

.uniforms-editor-tab-top {
    flex-shrink: 0;
}

.uniforms-editor-tab-content > .js {
    flex-grow: 1;
}

.uniform-type-select > div > div:last-child > div {
    outline:          1px solid white;
    padding:          0 3px;
    z-index:          200;
    position:         relative;
    margin-right:     1ex;
    background-color: var(--tab-light-background);
}

.uniform-type-select > div > div:last-child > div > span:not(:last-child) {
    border-bottom: 1px solid var(--tab-active-highlight-color);
    padding-right: 3ex;
}

.uniforms-editor-tab-top input {
    outline:      1px solid white;
    padding:      0 3px;
    margin-right: 1ex;
}

.uniforms-editor-tab-top button {
    outline: 1px solid white;
    padding: 0 3px;
}

.uniforms-editor-tab-content[data-disabled] :where(input, .uniform-type-select) {
    cursor: not-allowed;
}

.uniform-type-select > div {
    outline: 1px solid white;
}

.uniform-type-select > div > div:first-child > span {
    padding-left: 3px;
}

.uniforms-editor-tab-content > .js {
    overflow-x: scroll;
    width:      100%;
    padding:    1ex;
}

.uniform-type-select {
    display:      flex;
    margin-right: 2ex;
}