body {
    position:    absolute;
    left:        0;
    top:         0;
    padding:     0;
    margin:      0;
    width:       100vw;
    height:      100vh;
    overflow:    hidden;
    font-family: "JetBrains Mono", monospace;
    font-size:   12px;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    border:  none;
    margin:  0;
    padding: 0;
}

textarea, input, button, select, pre {
    font:    inherit;
    outline: 0;
    border:  0;
}

/*#endregion*/

/*#region content*/

div#content {
    display:  flex;
    width:    100vw;
    height:   100vh;
    overflow: hidden;
}

div#glsl-editor {
    display:  flex;
    height:   100%;
    overflow: scroll;
}

div#edit-inputs {
    height:  0;
    z-index: 1;
}

div#edit-inputs-inner {
    background: white;
    position:   absolute;
    width:      100%;
    height:     fit-content;

    transform:  translateY(-100%);
    transition: transform .2s;
}

div#edit-inputs-inner:hover, div#edit-inputs-inner:focus-within {
    transform: none;
}

div#edit-inputs > div::after {
    position:         absolute;
    top:              100%;

    content:          "";

    display:          block;
    width:            4ex;
    height:           2ex;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 25' %3E%3Crect width='50' height='25' style='fill: rgb(127,127,127);'/%3E%3Cpath d='M 25 18 L 43 7 L 7 7 L 25 18 Z' style='fill: rgb(80,80,80);'/%3E%3C/svg%3E");
    right:            0;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0%)
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(-100%)
    }
}

/*#region input-editors*/

div#input-editors-container {
    overflow-x: scroll;
}

table#input-editors {
    padding:         0;
    margin:          0;
    row-gap:         0;
    border-collapse: collapse;
    border-spacing:  0;
}

table#input-editors tr {
    margin: 0;
}

table#input-editors td {
    padding:     0;
    margin:      0;
    user-select: none;
}

table#input-editors td:first-child,
table#input-editors th:first-child {
    padding-right: 1ex;
    border-right:  1px solid black;
}

table#input-editors td:last-child,
table#input-editors th:last-child {
    padding-left: 1ex;
}

th {
    border-bottom: 1px solid black;
    white-space:   nowrap;
}

/*#endregion*/

button#add-input {
    text-align:  center;
    width:       100%;
    background:  var(--color-yellow);
    color:       var(--color-light);
    user-select: none;
}

button#add-input:hover {
    background: var(--color-orange);
}

div#canvas-container {
    width:      100%;
    height:     100vh;
    background: var(--color-dark);
    overflow:   hidden;
}

div#canvas-container > canvas {
    width:  100%;
    height: 100%;
}
